# Addresses
PLUG_MAC=
HOST_STATIC_IP=
REMOTE_HOST_MAC=  # to use if HOST_STATIC_IP is empty

# TAPO Credentials
EMAIL=
PASSWORD=

# borgbackup
BORG_PASSPHRASE=XYZl0ngandsecurepa_55_phrasea&&123
BORG_REPOS_PATH=/path/to/repos

# bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Others
SSH_USERNAME=username
SUBNET=192.168.1.0/24

STARTUP_TIME=90
SHUTDOWN_TIME=45
POWER_CYCLE_DELAY=3
